<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.com.gunix.domain.persistence.relational.dbmappers.DatosGeneralesMapper">

    <resultMap id="datosGeneralesResultMap" type="mx.com.gunix.domain.persistence.relational.model.TDDatosGenerales">
        <id property="id" column="ID_DATOS_GENERALES"/>
        <id property="idTrabajador" column="ID_TRABAJADOR"/>
        <id property="telefonoCelular" column="TELEFONO_CELULAR"/>
        <id property="correoElectronico" column="CORREO_ELECTRONICO"/>
        <id property="calle" column="CALLE"/>
        <id property="codigoPostal" column="CODIGO_POSTAL"/>
        <id property="colonia" column="CVE_COLONIA"/>
        <id property="entidadFederativa" column="CVE_ENTIDAD_FEDERATIVA"/>
        <id property="municipio" column="CVE_MUNICIPIO"/>
        <id property="localidad" column="LOCALIDAD"/>
        <id property="observaciones" column="OBSERVACIONES"/>
        <id property="telefonoFijo" column="TELEFONO_FIJO"/>
        <id property="idDocumento" column="ID_DOCUMENTO"/>
        <id property="rfcUsuario" column="RFC_USUARIO"/>
        <id property="fecha" column="FECHA"/>
    </resultMap>

</mapper>