<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mx.com.gunix.domain.persistence.relational.dbmappers.TrayectoriaLaboralMapper">

    <resultMap id="trayectoriaLaboralResultMap" type="mx.com.gunix.domain.persistence.relational.model.TDTrayectoriaLaboral">
        <id property="idTrayectoriaLaboral" column="ID_TRAYECTORIA_LABORAL"/>
        <result property="idTrabajador" column="ID_TRABAJADOR"/>
        <result property="regimen" column="CVE_REGIMEN"/>
        <result property="rfcUsuario" column="RFC_USUARIO"/>
        <result property="fecha" column="FECHA"/>
        <result property="ahorroSolidario" column="AHORRO_SOLIDARIO"/>
    </resultMap>

</mapper>